<!DOCTYPE html>
<html>
<body>



<form action="/formsubmit" method="POST">
  <label for="fname">Full name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  
  <br>
  <label for="mday">Month of Birth:</label><br>
  <input type="text" id="mday" name="mday"><br>
  
  <label for="dday">Date of Birth:</label><br>
  <input type="text" id="dday" name="dday"><br>
  
  <label for="yday">Year of Birth:</label><br>
  <input type="text" id="yday" name="yday"><br>
  
  <br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name=" "><br>
  
  <br>
  <input type="submit" value="Submit">
  
</form>





</body>
</html>
